# Visual Studio / VS Code
.vs/
*.user
*.suo

# CMake / Ninja
out/
ransform/out/
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

# Binaries
*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk
*.exp

# CUDA
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
